<div class="text-center container">
  <h1>About Us</h1>
  <p> Here at SpaceCorp, we strive to be a world-class production facility, corporate citizen,
  and employer. We continue to invest heavily in mostly-sustainable fuels, and have committed 
  to paying some of our employees the living wage.</p>
</div>